// reveals and transitions

.hidden {
    opacity: 0;
}

.hidden-half {
    opacity: 0.4;
}

.hidden-darkest {
    opacity: 0.2;
}

.semi-revealed {
    opacity: 0.8;
}

.revealed {
    opacity: 1;
}
